<div class="row">
  <div class="col-xs-12" ng-controller="FormCtrl as formCtrl">
    <section class="panel panel-danger" ng-if="formCtrl.errors">
      <div class="panel-heading">
        <h3 class="panel-title">Errors occurred</h3>
      </div>

      <div class="panel-body">
        <div ng-repeat="(attr, messages) in formCtrl.errors">
          <h4>{{ attr }}</h4>

          <ul>
            <li ng-repeat="message in messages">{{ message }}</li>
          </ul>
        </div>
      </div>
    </section>

    <form class="form-horizontal" name="form"
      ng-submit="formCtrl.submit()" novalidate>

      <% attributes.each do |key, val| %>
        <div class="form-group has-feedback">
          <label class="col-sm-2 control-label" for="key">
            <%= resource_class.human_attribute_name key %>
          </label>
          <div class="col-sm-10">
            <input class="form-control" name="<%= key %>" type="text"
              placeholder="<%= resource_class.human_attribute_name(key) %>"
              ng-model="formCtrl.resource.<%= key %>">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span class="help-block error">
              Please ensure that you provide a valid value for this field.
            </span>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
          <%= link_to "Cancel", [ :admin, resource_class ], class: "btn btn-danger" %>
        </div>
      </div>
    </form>
  </div>
</div>
