<div class="row">
  <div class="col-xs-12" ng-controller="FormCtrl as formCtrl">
    <section class="panel panel-danger" ng-if="formCtrl.errors">
      <div class="panel-heading">
        <h3 class="panel-title">Errors occurred</h3>
      </div>

      <div class="panel-body">
        <div ng-repeat="(attr, messages) in formCtrl.errors">
          <h4>{{ attr }}</h4>

          <ul>
            <li ng-repeat="message in messages">{{ message }}</li>
          </ul>
        </div>
      </div>
    </section>

    <form class="form-horizontal" name="form"
      ng-submit="formCtrl.submit()" novalidate>

      <% attributes.each do |key, val| %>
        <div class="form-group has-feedback"
          ng-class="{ 'field_with_errors': !!formCtrl.errors.<%= key %> }">
          <label class="col-sm-2 control-label" for="key">
            <%= resource_class.human_attribute_name key %>
          </label>
          <div class="col-sm-10" ng-class="{ 'field_with_errors': !!formCtrl.errors.<%= key %> }">
            <input class="form-control" name="<%= key %>" type="text"
              placeholder="<%= resource_class.human_attribute_name(key) %>"
              ng-model="formCtrl.resource.<%= key %>">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span class="help-block error" ng-show="!!formCtrl.errors.<%= key %>">
              {{ formCtrl.errors.<%= key %>[0] }}
            </span>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-danger" ui-sref="list_{{ formCtrl.resource_class.plural }}">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
