<div class="row">
  <div class="col-xs-12">
    <header class="page-header">
      <div class="pull-right">
        <a class="btn btn-lg btn-success" ui-sref="new_{{ indexCtrl.resource_class.singular }}">
          Create new
        </a>
      </div>
      <h1>All {{ indexCtrl.resource_class.plural }}</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <% @resource_class.attribute_names.each do |attr| %>
            <th><%= @resource_class.human_attribute_name attr %></th>
          <% end %>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <% resource.attributes.values.each do |attr| %>
              <td><%= attr %></th>
            <% end %>
            <td>
              <%= link_to "Show", [ :admin, resource ] %>
              <%= link_to "Edit", [ :edit, :admin, resource ] %>
              <%= link_to "Destroy", [ :admin, resource ], method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
